@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: Roboto;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 25px 300px;
}
.header-logo-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 25px 300px;
}
.header,
.hero {
  background-color: #1f2937;
}
.hero-left {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
ul,
.secondary {
  font-size: 18px;
  color: #e5e7eb;
}
.opis-logo {
  font-size: 24px;
  color: #f9faf8;
}
button {
  background-color: #3882f6;
  align-self: flex-start;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 8px 32px;
}
.CTA {
  background-color: #3882f6;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
}
a {
  text-decoration: none;
}

ul {
  display: flex;
  gap: 30px;

  list-style: none;
}

.kwiaty {
  display: flex;
  justify-content: center;
  gap: 48px;
  padding: 30px;
  align-items: flex-start;
  text-align: center;
}

.kwiaty > div {
  width: 200px; /* stała szerokość = szerokość obrazka */
}
.kwiaty img {
  object-fit: cover; /* ujednolica kadr */
  border-radius: 20%;
  border: 5px solid blue;
}
